<center>
	<h1>こんぺいとう介護記録</h1>
</center>
<u class="username">**********様</u>
<table>
	<tr>
		<td style="text-align:center;">　月　日</td>
		<th>　/　( )</th>
		<th>　/　( )</th>
		<th>　/　( )</th>
		<th>　/　( )</th>
	</tr>
	<tr>
		<td style="text-align:center;">到着時間</td>
		<th>　　:　 </th>
		<th>　　:　 </th>
		<th>　　:　 </th>
		<th>　　:　 </th>
	</tr>
	<tr>
		<td style="text-align:center;">出発時間</td>
		<th>　　:　 </th>
		<th>　　:　 </th>
		<th>　　:　 </th>
		<th>　　:　 </th>
	</tr>
	<tr>
		<td style="text-align:center;">血圧</td>
		<th>　　/　 </th>
		<th>　　/　 </th>
		<th>　　/　 </th>
		<th>　　/　 </th>
	</tr>
	<tr>
		<td style="text-align:center;">脈</td>
		<th>　　 　 </th>
		<th>　　 　 </th>
		<th>　　 　 </th>
		<th>　　 　 </th>
	</tr>
	<tr>
		<td style="text-align:center;">体温</td>
		<th>　　 　 </th>
		<th>　　 　 </th>
		<th>　　 　 </th>
		<th>　　 　 </th>
	</tr>
	<tr>
		<td style="text-align:center;">服薬</td>
		<th>　有:無 </th>
		<th>　有:無 </th>
		<th>　有:無 </th>
		<th>　有:無 </th>
	</tr>
	<tr>
		<td style="text-align:center;">処置</td>
		<th>e f g h</th>
		<th>e f g h</th>
		<th>e f g h</th>
		<th>e f g h</th>
	</tr>
	<tr>
		<td style="text-align:center;">食事摂取量</td>
		<th>　　　割</th>
		<th>　　　割</th>
		<th>　　　割</th>
		<th>　　　割</th>
	</tr>
	<tr>
		<td style="text-align:center;">水分摂取量</td>
		<th>　　  CC</th>
		<th>　　  CC</th>
		<th>　　  CC</th>
		<th>　　  CC</th>
	</tr>
	<tr>
		<td style="text-align:center;">トイレの回数</td>
		<th>　　/　 </th>
		<th>　　/　 </th>
		<th>　　/　 </th>
		<th>　　/　 </th>
	</tr>
</table>