/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 *= require fullcalendar
 *= require_tree .
 *= require_self
 */

@import 'foundation-icons';


 body {
  padding-top: 60px;
  color: #364a4d;
  margin: 0 auto;  
}



ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
#logo a{
  color: white;
  text-decoration: none;
}

.container {
  width: 710px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;  
  float: left; 
}
.main {
  width: 75%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;  
  float: left;
}
.sidebar
{
  height: 700px;
  width: 20%;
  float: left;
  padding:30px 0;
  background-color: #222D32;
}
.sidebar ul{
  padding-left: 20px;
}
.sidebar li
{
  color: white;
  padding:15px;
}
.sidebar li a
{
  color : white;
}
.mainca{
  width: 150px;

}










/* フォント ================================ */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 32px;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  letter-spacing: -1px;
}

p {
  font-size: 16px;
  line-height: 40px;
}

/* ヘッダー ================================ */
.navbar {
  background-color: #333333;
  height: 65px;
  width: 100%;
  color: white;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}

#logo {
  float: left;
  font-size: 35px;
  color: #ED7000;
  padding-top: 20px;
  letter-spacing: -1px;
  font-weight: bold;
}

.header-right {
  float: right;
  margin: 0 auto;
}

.header-right a {
  color: #B7C6CD;
  display: block;
  text-decoration: none;
}

.header-right li {
  line-height: 65px;
  padding: 0 18px;
  float: left;
  color: white;
  border-left: 1px solid #dddddd;
  border-color: #333333;
}
.header-right li a:hover{
  color:white;
  background-color: #333333;
}

/* サイドバー ================================ */


input[type="checkbox"].on-off{
    display: none;
}
.sidebar ul {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    padding: 5px;
}
.sidelabel:hover {
  background: #555;
}

input[type="checkbox"].on-off + ul{
    height: 0;
    overflow: hidden;
}

input[type="checkbox"].on-off:checked + ul{
    height: 90px;
}
#dropmenu {
  list-style-type: none;
  margin: auto;
  padding-left: 0px;
}
#dropmenu li {
  padding: 0;
}
#dropmenu li a {
  display: block;
  padding: 25px 0 25px 35px;
  font-weight: bold;
  font-size : 18px;
  text-decoration: none;
}
#dropmenu label{
  display: block;
  padding: 25px 0 25px 35px;
  font-weight: bold;
  font-size : 18px;
  text-decoration: none;
}
#dropmenu li ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#dropmenu ul li a{
  padding: 15px 35px 15px 30px;
  text-align: left;
  font-size: 12px;
  color: #7D959F;
  font-weight: normal;
  background: #2C3B41;
}
#dropmenu label{
  font-size:20px;
  color: #B7C6CD;
  padding: 20px 10px 20px 25px;
  display: block;
  margin: 0;
}
#dropmenu label:hover{
  color: white;
}
#dropmenu ul li a:hover{
  color: white;
}


/* ボタン ================================ */
.edit_btn {
    width:100px;
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:white;
    background-color:#40bfb0;
    border-radius:5px;
    box-shadow:2px 2px #555;
}
.delete_btn{
    width:100px;
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:white;
    background-color:#CC0000;
    border-radius:5px;
    box-shadow:2px 2px #555;
}
.index_btn{
    width:100px;
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:white;
    background-color:#2C7CFF;
    border-radius:5px;
    box-shadow:2px 2px #555;
}
.btn_zone a:link{
    color:white;  /* 文字を青色 */
}
.btn_zone a{
    color:white;  /* 文字を青色 */
}
.btn_zone :hover{
    color: #ff0000;
}
.btn_zone a:hover{
    color: #ff0000;
}

/* search_zone ================================ */
.search_zone{
  border-style: solid;
  border-width: 1px;
  padding: 10px 5px 10px 20px;
  width: 90%;
  border-radius: 10px;
}
.search_zone legend{
  background-color: white;
}



/*log_in ================================ */
.center_list {
  clear: both;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding: 25px 20px;
  background: #E8EBFB;
  border: solid 3px #BFBFDA;
}
.company {
  clear: both;
  margin-bottom: 10px;
  padding: 3px;
  font-size:20px;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #B4B4B4;
}
.login {
  clear: both;
  margin-right: auto;
  margin-left: auto;
  border:none;
}
.login_label {
  font-weight: bold;
  color: #666666;
}
.login tr td{
  text-align:right;
  padding: 5px 10px;
}
.login tr th{
  text-align:left;
}