/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'foundation-icons';


 body {
  padding-top: 60px;
  color: #364a4d;
  margin: 0 auto;  
}



ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
#logo a{
  color: white;
  text-decoration: none;
}

.container {
  width: 710px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;  
  float: left; 
}
.main {
  width: 75%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;  
 float: left; 
}
.sidebar
{
  height: 700px;
  width: 20%;
  float: left;
  padding:30px 0;
  background-color: #333333;
}
.sidebar ul{
  padding-left: 20px;
}
.sidebar li
{
  color: white;
  padding:15px;
}
.sidebar li a
{
  color : white;
}

/* フォント ================================ */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 32px;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  letter-spacing: -1px;
}

p {
  font-size: 16px;
  line-height: 40px;
}

/* ヘッダー ================================ */
.navbar {
  background-color: #333333;
  height: 65px;
  width: 100%;
  color: white;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}

#logo {
  float: left;
  font-size: 35px;
  color: #ED7000;
  padding-top: 20px;
  letter-spacing: -1px;
  font-weight: bold;
}

.header-right {
  float: right;
  margin: 0 auto;
}

.header-right a {
  color: #808080;
  display: block;
  text-decoration: none;
}

.header-right li {
  line-height: 65px;
  padding: 0 18px;
  float: left;
  color: white;
  border-left: 1px solid #dddddd;
  border-color: #333333;
}

/* フッター ================================ */
footer {
	margin-top: 100px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #808080;
	height:200px;
	clear:left;
}

footer .small {
  float: left;
  font-size: 14px;
}

footer .access {
	font-size:10px;
	float:right;
}

#accordion{
  margin: 0 auto;
  padding: 0;
  border-top: 15px;
  border-bottom: 15px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 1;
}
#accordion input{
  visibility: hidden;
}
#accordion div div{
  padding: 15px 10px 12px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
#accordion div div:hover{
  cursor: pointer;
}
.aaa{
  display: block;
  overflow: hidden;
  height: 0;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
}

