// Place all the styles related to the care_records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form_care_record{
	width:70%;
}
.input_care_record{
	text-align: left;
}
.title_care_record{
	background-color: #FAEBD7;
	font-weight: bold;
	padding: 5px;
	text-align:center;
}
.detail_table_care_record{
	width: 50%;
}