// Place all the styles related to the customer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.detail_table_cus{
	width: 100%;
}
.form_cus{
	width:100%;
}
.input_cus{
	text-align: left;
	width:350px;
}
.title_cus{
	background-color: #FAEBD7;
	font-weight: bold;
	padding: 7px;
	width:200px;
	height: 20px;
}

/* 家族情報 ================================ */
.title_cusfami_name{
	background-color: #FAEBD7;
	width:100px;
}
.title_cusfami_relation{
	background-color: #FAEBD7;
	width:40px;
}
.title_cusfami_living{
	background-color: #FAEBD7;
	width:30px;
}
.title_cusfami_address{
	background-color: #FAEBD7;
	width:170px;
}
.title_cusfami_contact{
	background-color: #FAEBD7;
	width:100px;
}
.input_cusfami_name{
	width:100px;
}
.input_cusfami_relation{
	width:40px;
}
.input_cusfami_living{
	width:30px;
}
.input_cusfami_address{
	width:170px;
}
.input_cusfami_contact{
	width:100px;
}
.title_cusfami{
	background-color: #FAEBD7;
	height: 30px;
	width: 150px
}
/* /家族情報	 ================================ */


/* 利用者住所 ================================ */
.title_cus_address{
	background-color: #FAEBD7;
	height: 100px;
	width:200px;

}
.input_cus_address{
	height: 100px;
}
/* /利用者住所 ================================ */
