// Place all the styles related to the staffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form_staff{
	width:70%;
}
.input_staff{
	text-align: left;
}
.title_staff{
	background-color: #FAEBD7;
	font-weight: bold;
	padding: 5px;
}
.detail_table_staff{
	width: 50%;
}