<p>こんにちは <%= @resource.email %>!</p>

<p>パスワード変更が要求されました。以下のリンクで変更できます。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>心当たりがない場合は無視してください。</p>
<p>リンクにアクセスし、新しいパスワードが作成されなければパスワードは変更されません。</p>
